services:
  postgres:
    image: postgres:18.2
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    volumes:
      - postgres_store:/var/lib/postgresql
    ports:
      - '5440:5432'

volumes:
  postgres_store:
