name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run Tests
        shell: bash
        run: |
          docker compose -f ./docker-compose.yml -f docker-compose.dep.yml -f ./docker-compose.ci.yml -p app-ci up \
          --build \
          --abort-on-container-exit \
          --exit-code-from app \
          -t 600

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            VERSION=develop
          push: false
          tags: tsangste/nestjs-playground:develop
          cache-from: type=gha
          cache-to: type=gha,mode=max
